# This file contains pin mappings for the stock 2020 Creality Ender 3
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40 # default
endstop_pin: ^PA5
position_endstop: -5
position_min: -5
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40 # default
endstop_pin: ^PA6
position_endstop: -10
position_min: -10
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8 # default
#endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
#position_endstop: -0.855
position_min: -3
#position_max: 250
position_max: 200 # reduced to account for Micro Swiss DD upgrade

[safe_z_home]
home_xy_position: 165.4,133.8 #110,110 minus the probe offsets, so probe is in the center of the bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
#rotation_distance: 34.406
#rotation_distance: 23.311
rotation_distance: 23.092 # recalibration on 2023/05/06
nozzle_diameter: 0.600 #0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 500
#pressure_advance: 0.07 # tuned for Overture PLA with 0.4mm nozzle
#pressure_advance: 0.13 # tuned for Overture PET-G with 0.4mm nozzle
#pressure_advance: 0.0525 # tuned for Sunlu Meta with 0.6mm nozzle
pressure_advance: 0.024 # tuned for Matter Hackers Build Black with 0.6mm nozzle

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.2:1.0-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
#max_accel: 7000
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Pin mappings for BL_T port
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
#==================
# With metal mount
#==================
#x_offset: -44
#y_offset: -6
#z_offset: 1.16

#=============================================================
# With HeroMe Gen7 using left compact wing and standard mount
#=============================================================
x_offset: -55.4 # recalibrated 2023/08/12 with HeroMe Gen7
y_offset: -23.8 # recalibrated 2023/08/12 with HeroMe Gen7
#x_offset: -55.5
#y_offset: -23.5
#z_offset: 1.8 #1.630 # from testz
#z_offset: 1.56 # print head was too far from the bed by 0.16 mm # still too far
#z_offset: 1.67 # Original testz answer plus 0.04 from the feeler gauge
#z_offset: 1.91 # tested at 1.67 and a 0.28 feeler guage fit below - 0.04 for expansion
#z_offset: 2.04 # tested at 1.91 and a 0.13 feeler guage fit below (no adjustment for expansion)
#z_offset: 2.08 # test at 2.04 and 0.8 feeler guage fit below - 0.04 for exansion
#z_offset: 2.2 # did test print with 2.08 and the best z-offset was -0.12
#z_offset: 2.12 # did test print with 2.2 and the best z-offset was +0.08
z_offset: 2.32 # After screw_tilt_adjust on 2023/08/12

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[input_shaper]
shaper_freq_x: 36.28  # frequency for the X mark of the test model
shaper_freq_y: 43.57  # frequency for the Y mark of the test model
shaper_type: ei

[bed_screws]
screw1: 31, 36
screw2: 201, 36
screw3: 201, 205
screw4: 31, 205

[screws_tilt_adjust]
screw1: 86.4, 59.8
screw1_name: front left screw
screw2: 221, 59.8
screw2_name: front right screw
screw3: 221, 228.8
screw3_name: back right screw
screw4: 86.4, 228.8
screw4_name: back left screw
screw_thread: CW-M4

[bed_mesh]
speed: 120
mesh_min: 15, 15
#mesh_max: 175, 210 # with CRTouch on metal mount
mesh_max: 165.5, 210 # require more clearance to avoid right frame arm with CRTouch on HeroMe Gen7 using left compact wing and standard mount
probe_count: 5,5
fade_start: 1
fade_end: 10
algorithm: bicubic

# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
variable_load_length: 100.0
# Hide the Octoprint LCD menu since I don't use it.
variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [
#  {'name' : 'PLA',  'extruder' : 200.0, 'bed' : 60.0},
#  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0},
#  {'name' : 'ABS',  'extruder' : 245.0, 'bed' : 110.0, 'chamber' : 60}]
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 1 # This value works for most setups.
gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# LCD menu support for features like bed surface selection and pause next layer.
[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[display_template _print_status]
text:
  {% if printer.display_status.message %}
    { printer.display_status.message }
  {% elif printer.idle_timeout.printing_time %}
    {% set cur_layer = printer.print_stats.info.current_layer|int %}
    {% set total_layer = printer.print_stats.info.total_layer|int %}
    { "Layer %i of %i" % (cur_layer, total_layer) }
  {% else %}
    Ready
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.170
#*# pid_ki = 2.234
#*# pid_kd = 108.704
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.065
#*# pid_ki = 1.454
#*# pid_kd = 917.883
